<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'custom', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="brand">TodoList</a>
        <ul class="nav-links">
          <li><a href="/" class="<%= 'active' if current_page?(root_path) %>">Home</a></li>
          <li><a href="/tasks/new" class="<%= 'active' if current_page?(new_task_path) %>">Add Task</a></li>
        </ul>
      </div>
    </nav>

    <div class="container content">
      <%= yield %>
    </div>
  </body>
</html>
